{% extends 'global/base.html' %}

{% block content %}
<h2>Job Application Tracker</h2>

<div class="table-header">
    <div class="cells">Company</div>
    <div class="cells">Position</div>
    <div class="cells">Location</div>
    <div class="cells">Pay</div>
    <div class="cells">Status</div>
</div>
<div id="table-body">
    <div class="btn-container">
        <button class="btn btn-primary" id="add-man"type="button">Add Manually</button>
        <button class="btn btn-primary" id="add-url"type="button">Add From URL</button>
    </div>
</div>

{% endblock content %}