{% extends 'global/base.html' %}

{% block content %}
    <div>
        <h2>Productivity tools to help with your entry-level job search.</h2>
        <nav>
            <a href="{% url 'app_tracker' %}">Job Application Tracker</a>
            <a href="{% url 'resumegen' %}">Resume Generator</a>
            <a href="{% url 'resources' %}">Online Resources</a>
        </nav>
    </div>
    <div>
        <form id="leadForm" method="post">
            {% csrf_token %}
            <label for="email">Enter your email to gain early access.</label>
            <input type="email" id="email" name="email" placeholder="your email here..." required>
            {% if form.errors.email %}
            <span style="color: red;">{{ form.errors.email }}</span>
            {% endif %}
            <br>
            <button type="submit">Join Waitlist</button>
        </form>
    </div>
    <script>
        document.getElementById('leadForm').addEventListener('submit', function(event) {
            var email = document.getElementById('email').value;
            var emailError = document.getElementById('emailError');

            // Reset error message
            emailError.textContent = '';

            // Validate email format
            if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                emailError.textContent = 'Please enter a valid email address.';
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
{% endblock content %}