@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --input: #ffffff;
  --foreground: #222;
  --accent: #FF6C06;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-input: var(--input);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --input: #3b3b3b;
    --foreground: #ededed;
    --accent: #ff9131;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 3rem;
}

main {
  margin-bottom: 2rem;
}